<h3>Cadastro Empresa</h3>

<form id="myForm" #f="ngForm" (ngSubmit)="addEmpresa()">
    <div class="col-6">
        <label>Id</label>
        <input id="id" name="id" [(ngModel)]="model.id" class="form-control" type="text">
    </div>
    <div class="col-6">
        <label>Nome</label>
        <input id="nome" name="nome" [(ngModel)]="model.nome" class="form-control" type="text">
    </div>
    <div class="col-6">
        <label>Porte</label>
        <input id="porte" name="porte" [(ngModel)]="model.porte" class="form-control" type="text">
    </div>
    <div class="col-6 mt-3">
        <button type="submit" class="btn btn-success" >Adicionar</button>
    </div>
</form>
