<h3>Lista de Empresas Porte Pequena 1</h3>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Porte</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaEmpresas$ | async">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.porte }}</td>
    </tr>
  </tbody>
</table>
<br />
<h3>Lista de Empresas Porte Pequena 2</h3>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Porte</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaEmpresas">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.porte }}</td>
    </tr>
  </tbody>
</table>
<br />
<h3>Lista de Empresas Porte Pequena 3</h3>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Porte</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaEmpresas3">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.porte }}</td>
    </tr>
  </tbody>
</table>
<br />
<h3>Lista de Empresas Porte Pequena 4</h3>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Porte</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaEmpresas4">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.porte }}</td>
    </tr>
  </tbody>
</table>
<br />
<h3>Lista de Empresas Porte Pequena 5</h3>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>porte</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaEmpresas5$ | async">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.porte }}</td>
    </tr>
  </tbody>
</table>
